body {
    background-image: url(fondo2.gif) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.parrafos{
    display:flex ;      
      }
p{
        color:rgba(246, 239, 239, 0.952);
        margin-left: 30px;
}

h1{
    color: beige;
   margin-left: 30px;
}

h2{
    color: beige;
    margin-left: 30px;
}

h3 {
  color: beige;
  margin-left: 30px;
}

h4{
    color: beige;
    margin-left: 30px;
}
       
li{
        color:rgb(255, 255, 255);
        margin-left: 30px;
}     

a{
    color:rgb(255, 255, 255);
    margin-left: 30px;
}     

.ini{
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
}  

.exp{
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
}

.hab{
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
}

.edu{
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
}

.red{
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
}

.con{
    background-color: rgb(27, 26, 26);
    color: white;
    border-radius: 5px;
}